/* Загальні стилі */
body {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Хедер */
.header {
  background-color: #2e2f42;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-accent {
  color: #2e2f42;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-right: 20px;
}

.menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

/* Перша секція */
.hero {
  background-color: #2e2f42;
  color: #fff;
  padding: 50px;
  text-align: center;
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.hero-description {
  font-size: 18px;
  margin-top: 20px;
}

.button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 10px 20px;
  color: #fff;
  margin-top: 30px;
  display: inline-block;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* Друга секція */
.features {
  padding: 50px;
  background-color: #f4f4fd;
  text-align: center;
}

.features-title {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Третя секція */
.portfolio {
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Четверта секція */
.contact {
  padding: 50px;
  background-color: #f4f4fd;
  text-align: center;
}

.contact-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contact-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link {
  color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-top: 20px;
  display: inline-block;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Футер */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 30px;
  text-align: center;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo .logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-text {
  font-size: 14px;
  letter-spacing: 0.02em;
}

.footer-contact {
  margin-top: 10px;
  font-size: 16px;
}
